* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fefefe;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}
/*------------Left------------*/
.left {
    width: 65%;
    text-align: start;
    position: relative;
    align-self: flex-start;
    left: 0;
}

.left .illustration {
    width: 93%;
    height: auto;
    position: relative;
}

.left h2 {
    color: #5680f9;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 45%;
    transform: translateX(-50%);
}

.left p {
    color: #555;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 45%;
    transform: translateX(-50%);
}

.dots {
    position: absolute;
    top: 85%;
    left: 45%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: rgba(86, 128, 249, 0.4); /* xanh nhạt */
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot.active {
    background-color: white;
    width: 16px;
    height: 16px;
    border: 4px solid #5680f9; /* xanh đậm */
}

/*------------right------------*/
.right {
    margin-top: 40px;
    margin-left: 20px;
    padding-top: 20px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 70%;
    height: auto;
    align-items: center;
    display: block;
    margin: 0 auto;
}

.right h3 {
    color: #e60023;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 24px;
    text-align: center;
}

form {
    width: 100%;
    max-width: 420px;
    padding: 20px;
    margin-right: 100px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}
form input, form select {
    color: #8D99BB;
    border: 1px solid #8D99BB;
}

::placeholder {
    color: #8D99BB;
}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.row input,
.row select {
    flex: 1;
}

/*.row {*/
/*        display: grid;*/
/*        grid-template-columns: 1fr 1fr;*/
/*        gap: 10px;*/
/*}*/

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #e60023;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #cc0020;
}

.login-link {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.login-link a {
    color: #3d5af1;
    text-decoration: none;
}

.language-select {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: #666;
    z-index: 100;
}

.language-select select {
    border: none;
    border-radius: 6px;
    /* background-color: #f0f0f0; */
    padding: 4px 8px;
    color: #333;
    font-family: Quicksand, sans-serif;
    cursor: pointer;
}

.globe-icon {
    width: 18px;
    height: 18px;
    margin-bottom: 12px;
}